



	/* Body and background*/


body {
    font-family: roboto, helvetica, sans-serif;
    font-size: 0.875em;
    color:#000;
    background-image: url("../boxer_images/subtle-grey-grid.png");
    margin: 1.9569%;

}

	/*  Main content inside of <div> named container*/


#container {
	width:98%;
	margin:0 auto;
	text-align: left;	
	border: 1px solid #665544;
	border-radius: 20px 20px;
	background-color: #064B7A;
	box-shadow: 5px 5px 5px #032136;
	padding: .9785%;
	max-width:960px;
}

	/* Main Styles */



#ordered li {
	list-style-type: lower-roman;
	color: #FFFFFF;
}	

nav li {
	display: inline;
	margin-right: 12px;
	padding:0.2935% 0;
}	

	/* Headings */
  

 h2, h3, h4 {
	color: #4F92E3;
	text-shadow: 1px 1px #668
}  

h1 {
	font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    color: #fff;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #4F92E3;
    opacity: 0.9;
}

h4 {
	padding: 0 0 0 120px;

}		


	/* Paragraphs*/


p {
	color: #FFFFFF;
	line-height: 19px;
}
	
/* Color for strong and emphasis*/

strong {
	color: #DB7C40;
}

em {
	color: #DB7C40;
}

	/* Links */


a:link {
	color: #4F92E3;
	text-decoration: none;
	display: inline;
}

a:visited {	
	color: #DB7C40;
}

a:hover {
	color: #FFF;
	text-decoration: underline;
}

a:active {
 	color: #00AB73;
 }	
 
 
 	/* Floats */
 	

article	{
	float: left;
	width: 60.6654%;
	margin: 0.9785%;
	
}	 	
 
aside {
	float: left;
	width: 24.4681%;
	margin: 0px;
}	 
 
 
 	/* Gradients */
 
#gallerybackground {
	width: 100%;
	margin: 0 auto;
	border: 1px solid #665544;
	border-radius: 20px 20px;
	background: linear-gradient(to bottom, #db7c40 0%,#f17432 0%,#f17432 59%,#feccb1 100%); /* W3C */
	box-shadow: 5px 5px 5px #6B3C03;
	padding: 1.0417% 0 0 0px; 		
 	clear: right;
 	
 }	
 
 		/*Table*/
 
 
 table {
	width: 55.8376%;
	border-spacing: 2px 2px;
	border: 1px solid #FFFFFF;
	margin-top: 5.1813%;
	margin-bottom: 5.1813%;
}	
	
th, td {
  padding: 0.7254% 1.0363% 1.0363% 1.0363%;
}
th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  text-align: left;
}
tr {
  background-color: #4F92E3;
  
}
tr:hover {
  background-color: #FFFFFF;
}


		/*Form*/
	
input {
	font-size: 90%;
	color: #FFFFFF;
	background-color: #f2f2f2;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;


}	
#infoinput {
	color: #FFFFFF;

}
	
input:focus {
	border: 2px solid #7f7f7f; 
}
	
 input:hover {
 	background-color: #4F92E3;
 }
 
 .title {
	float: left;
	width: 100%;
	
} 
		
		/*button*/

			
#submit {
	color: #000000;
	text-shadow: 0px 1px 1px #ffffff;
	border-bottom: 2px solid #b2b2b2;
	background: #ff8927; 
	background: linear-gradient(to bottom, #4f92e3 0%,#1e5799 100%); /* W3C */
	
}

#submit:hover {
	color: #000000;
	border: 1px solid #a4a4a4;
	border-top: 2px solid #b2b2b2;
	background: linear-gradient(to bottom, #1e5799 0%,#4f92e3 100%); /* W3C */
	
}	
	 
 
footer {
	clear: left;
	margin: 15px;
}	 


			/*image*/
			 
.glove {
	background-image: url("../boxer_images/glove.png");
 	background-repeat: no-repeat;	
 	background-size: 70px 50px; 	
 	padding: 0.7828% 0 20px 70px;
 }
 
.img {
	width: 100%;
	height: 100%;
}		