



	/* Body and background*/


body {
    font-family: roboto, helvetica, sans-serif;
    font-size: 0.875em;
    color: black;
    background-image: url("./images/subtle-grey-grid.png");
    margin: 1.9569%;
   
}

	/*  Main content inside of <div> named container*/


#container {
	width:98%;
	margin:0 auto;
	text-align: left;	
	border: 1px solid #665544;
	border-radius: 20px 20px;
	background-color: #FFD258;
	box-shadow: 5px 5px 5px #381200;
	padding: .9785%;
	max-width:960px;
}

	/* Lists */



#ordered li {
	list-style-type: lower-roman;
}	

#unordered  li {
	display: inline;
	margin-right: 1.1742%;
	padding:0.2935% 0;
}	

	/* Headings */
  

h1, h2, h3, h4 {
	color: #FF8927;
	text-shadow: 1px 1px #668
}  

h1 {
	font-size: 2em;
    margin: 0;
    margin-bottom: 0.6849%;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #4F92E3;
    opacity: 0.5;
}

	/* Paragraphs*/


p {
	color: #665544;
	line-height: 19px;
}
	
/* Color for strong and emphasis*/

strong {
	color: #F5001D;
}

em {
	color: #F5001D;
}

	/* Links */


a:link {
	color: #00AB73;
	text-decoration: none;
	display: inline;
}

a:visited {	
	color: #4F92E3;
}

a:hover {
	color: #0606B4;
	text-decoration: underline;
}

a:active {
 	color: #00AB73;
 }		
 
 
 	/* Floats */
 	

#mainfloat	{
	float: left;
	width: 60.6654%;
	margin: 0.9785%;
	
}	 	
 
#imagefloat {
	float: left;
	width: 300px;
	margin: 0px;
	
}	 
 
 
 	/* Gradients */
 
#gallerybackground {
	width:290px;
	margin: 0 auto;
	border: 1px solid #665544;
	border-radius: 20px 20px;
	background: linear-gradient(to bottom, #ff7f04 0%,#ffa73d 35%,#ffb76b 100%); /* W3C */
	box-shadow: 5px 5px 5px #6B3C03;
	padding: 10px 0 0 0px; 		
 	
 	
 }	
 
 
#resource {
	clear: left;
}	 
 
 
 
 	/*Icons images */
 
 
 
#equipment {
	background-image: url("./images/basketball.png");
 	background-repeat: no-repeat;	
 	height: 100px; 	
 	padding: 0.7828% 0 20px 130px;
 }
 
 
 table {
  width: 55.8376%;}
th, td {
  padding: 7px 10px 10px 10px;}
th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  text-align: left;}
tr {
  background-color: #FF8927;}
tr:hover {
  background-color: #7f7f7f;}

 
 
 
 
 
 
 
 
 	