/*------ Document -----*/
body {
	width: 960px;
	background-color: #797267;
	margin:0 auto;
	text-align: left;	
	
	
	
	
	padding: .9785%;
	max-width:960px;

}


header {
	padding-top: 64px;
	padding-left: 64px;
	height: 210px;
	background-image: url("../images/header-bg.png");
	background-repeat: no-repeat;
}	


 




nav {
	padding-bottom: 64px;
	padding-right: 64px;

}



#main-content {
	background-image: url("../images/main-content-bg.jpg");
	
}	





li {
	display: inline;
	margin-right: 12px;
	padding:3px 0;
	float: right;
 
}	





 #current {
	color: red;
}	

a:link {
	color: #000;
	text-decoration: none;
	display: inline;
}


a:hover {
	color: red;
	text-decoration: underline;
}



h2, footer {
	font: 1.5em;
	color: #423b2e;
}	 


#column1of2 {
	width: 450px;
	padding-top: 64px;
	padding-left: 64px;
	margin: 0  
	font: 12px Helvetica, Arial, sans-serif;
}
	


#column2of2 {
	
	width: 260px
	padding-top: 64px;
	padding-left: 64px;
	margin: 0;
	font: 12px Helvetica, Arial, sans-serif;
	
}	



footer {
	
	text-align: center;
	margin: 0 auto;
	clear: both;
	background-image: url("../images/footer-bg.jpg");
	background-repeat: no repeat;
	height: 70px;
	
}	


